/* this defines a style for a class */
.blueText {
    color:blue;
    background-color:lightblue;
}

/* this defines a style for an ID */
#blueText {
    color: blueviolet;
    background-color: rgb(186, 167, 223);
}

/* a simple box style to play with */
.onebox {
    border: 2px solid rgb(67, 104, 67);
    border-radius: 2px;
    width:150px;
    padding: 0px 10px 0px 10px;
    margin: 15px 5px 15px 5px; 
    background-color: rgb(144, 188, 126);
    color:rgb(67, 104, 67);;
}

